$font-fam: "Bitter", serif;
$first-color: rgb(26, 25, 25);
$second-color: rgb(211, 207, 207);
$accent-color: rgb(37, 37, 105);
$first-bgcolor: white;
$second-bgcolor: rgba(26, 25, 25, 0.9);
$focus-color: rgb(75, 1, 75);
