body {
	@include font-settings();
	padding-left: 0.5em;
}

.container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: "top-nav top-nav" "side-nav content";
}

.content {
	grid-area: content;
	@include flex-start;
}

.heading {
	width: 80vw;
	margin-left: 0.5em;
}

.list-item {
	display: flex;
	flex-wrap: wrap;
	width: 80vw;
}

.item {
	padding: 0.5em;
	margin-left: 1em;
}

.button {
	text-decoration: none;
	background-color: $focus-color;
	@include font-settings($color: $second-color);
	padding: 0.5em;
}

.top-link {
	margin-left: auto;
	margin-right: 10%;
}

.item-link {
	@include single-line;
}

.link {
	text-decoration: none;
}

.username {
	font-style: italic;
	color: $accent-color;
}
